[submodule "reveal.js"]
	path = reveal.js
	url = git://github.com/fghaas/reveal.js
	branch = dev-with-audio-slideshow
[submodule "qrcodejs"]
	path = qrcodejs
	url = git://github.com/davidshimjs/qrcodejs
	branch = master
